#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input {
  display: flex;
  align-items: center;
}

.input input {
  margin: 10px;
  padding: 10px;
  font-size: 24px;
}

#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 34, 35, 0.5);
}
#modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px gray solid;
  border-radius: 15px;
  padding: 25px;
  max-width: 600px;
  margin: auto;
  margin-top: 30%;
}

.recipe {
  border: grey 1px solid;
  padding: 15px;
  border-radius: 12px;
  margin: 20px;
  min-width: 250px;
}

.recipeBox {
  display: flex;
  flex-flow: row wrap;
  border: solid 1px gray;
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 45px;
}
